
#col1 {
    width: 15%; /* Ширина первой колонки */
    text-align: right;
	border-right: 1px solid black;
   }
   #col2 {
    width: 50%; /* Ширина второй колонки */
    text-align: left; /* Выравнивание по правому краю */
   }
   #col3 {
    width: 35%; /* Ширина второй колонки */
    text-align: left; /* Выравнивание по правому краю */
   }
   #col1, #col2 , #col3{
    vertical-align: top; /* Выравнивание по верхнему краю */
    padding: 5px; /* Поля вокруг содержимого ячеек */
   }

table {
	border-spacing: 5px
}

.header_title {
      position: relative; 
      float: left;
      top: 5%;
      color: black;
      width: 100%;
}

.header_title_name {
      display: inline-block;
      width: 100%;
      font-size: 30px;
      
}


#avatar {
       float:left;
       margin: 7px 7px 7px 20px;

}

.content_section {
      margin: 20px;
}
.section_title {
      background: #858F9B;
      font-size: 20px;
      color: white;
      width: 100%;
      display: inline-block;
	  border-bottom: 1px solid black;
}

 
